demo-exactly-once-delivery-nifi-kafka.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>f25a2397-018b-1000-596f-a403905dc234</groupId>
    <name>demo-exactly-once-delivery-nifi-kafka</name>
    <snippet>
        <connections>
            <id>1110ff94-398e-382d-0000-000000000000</id>
            <parentGroupId>cac2b8af-0740-3504-0000-000000000000</parentGroupId>
            <versionedComponentId>1110ff94-398e-382d-a2ec-1eafd42d5d88</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>cac2b8af-0740-3504-0000-000000000000</groupId>
                <id>58b3dec1-c0ee-3754-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>58b3dec1-c0ee-3754-9b0d-fc128e306aa3</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>timeout</selectedRelationships>
            <source>
                <groupId>cac2b8af-0740-3504-0000-000000000000</groupId>
                <id>3edb348e-e501-31ca-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3edb348e-e501-31ca-9073-541f0fb6170a</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8138c82d-1df3-393e-0000-000000000000</id>
            <parentGroupId>cac2b8af-0740-3504-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>cac2b8af-0740-3504-0000-000000000000</groupId>
                <id>c2865a02-56ca-3676-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>output</selectedRelationships>
            <source>
                <groupId>cac2b8af-0740-3504-0000-000000000000</groupId>
                <id>3edb348e-e501-31ca-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3edb348e-e501-31ca-9073-541f0fb6170a</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <outputPorts>
            <id>58b3dec1-c0ee-3754-0000-000000000000</id>
            <parentGroupId>cac2b8af-0740-3504-0000-000000000000</parentGroupId>
            <position>
                <x>1232.0</x>
                <y>48.0</y>
            </position>
            <versionedComponentId>58b3dec1-c0ee-3754-9b0d-fc128e306aa3</versionedComponentId>
            <allowRemoteAccess>true</allowRemoteAccess>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>failure</name>
            <state>STOPPED</state>
            <transmitting>false</transmitting>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
            <id>c2865a02-56ca-3676-0000-000000000000</id>
            <parentGroupId>cac2b8af-0740-3504-0000-000000000000</parentGroupId>
            <position>
                <x>616.0</x>
                <y>296.0</y>
            </position>
            <allowRemoteAccess>true</allowRemoteAccess>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>sucess</name>
            <state>STOPPED</state>
            <transmitting>false</transmitting>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <processGroups>
            <id>aedbee56-e922-3986-0000-000000000000</id>
            <parentGroupId>cac2b8af-0740-3504-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>aedbee56-e922-3986-9f36-42c8d50b23e7</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>052453ae-b9cb-3dc4-0000-000000000000</id>
                    <parentGroupId>aedbee56-e922-3986-0000-000000000000</parentGroupId>
                    <versionedComponentId>052453ae-b9cb-3dc4-ba6d-fd0a458fb26f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>aedbee56-e922-3986-0000-000000000000</groupId>
                        <id>000939b7-e88e-3280-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>000939b7-e88e-3280-9699-cf079f8f5e81</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>aedbee56-e922-3986-0000-000000000000</groupId>
                        <id>399e4b50-a210-3f4a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>399e4b50-a210-3f4a-a836-f101f64545d7</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>37a3d81a-a77f-3628-0000-000000000000</id>
                    <parentGroupId>aedbee56-e922-3986-0000-000000000000</parentGroupId>
                    <versionedComponentId>37a3d81a-a77f-3628-97ce-a4d458cae053</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>aedbee56-e922-3986-0000-000000000000</groupId>
                        <id>399e4b50-a210-3f4a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>399e4b50-a210-3f4a-a836-f101f64545d7</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>b054f7e1-31a1-394a-0000-000000000000</groupId>
                        <id>f673a542-7a9e-3521-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>f673a542-7a9e-3521-9498-747b6b7919ee</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>68e2a405-709e-3025-0000-000000000000</id>
                    <parentGroupId>aedbee56-e922-3986-0000-000000000000</parentGroupId>
                    <versionedComponentId>68e2a405-709e-3025-8bb4-73b906c34cd9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>aedbee56-e922-3986-0000-000000000000</groupId>
                        <id>2fed9c7f-41a4-3b9d-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>2fed9c7f-41a4-3b9d-b137-6f0e11202d8d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>b054f7e1-31a1-394a-0000-000000000000</groupId>
                        <id>8eddd862-70db-3921-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>8eddd862-70db-3921-99d5-9d81eeb69802</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e5c8f66f-9c43-3927-0000-000000000000</id>
                    <parentGroupId>aedbee56-e922-3986-0000-000000000000</parentGroupId>
                    <versionedComponentId>e5c8f66f-9c43-3927-8ebb-f4f7f6d3301d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>aedbee56-e922-3986-0000-000000000000</groupId>
                        <id>2fed9c7f-41a4-3b9d-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>2fed9c7f-41a4-3b9d-b137-6f0e11202d8d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>aedbee56-e922-3986-0000-000000000000</groupId>
                        <id>399e4b50-a210-3f4a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>399e4b50-a210-3f4a-a836-f101f64545d7</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>0b0b1793-cfdc-3d67-0000-000000000000</id>
                    <parentGroupId>aedbee56-e922-3986-0000-000000000000</parentGroupId>
                    <versionedComponentId>0b0b1793-cfdc-3d67-9468-cd768cc9c97d</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
<dependencies>
    <dependentValues>infer-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>starting-field-strategy</key>
                            <value>
<name>starting-field-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>starting-field-name</key>
                            <value>
<dependencies>
    <dependentValues>NESTED_FIELD</dependentValues>
    <propertyName>starting-field-strategy</propertyName>
</dependencies>
<name>starting-field-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-application-strategy</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>schema-text-property</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<dependencies>
    <dependentValues>NESTED_FIELD</dependentValues>
    <propertyName>starting-field-strategy</propertyName>
</dependencies>
<name>schema-application-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonTreeReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>starting-field-strategy</key>
                            <value>ROOT_NODE</value>
                        </entry>
                        <entry>
                            <key>starting-field-name</key>
                        </entry>
                        <entry>
                            <key>schema-application-strategy</key>
                            <value>SELECTED_PART</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <controllerServices>
                    <id>b5e9f41f-210d-34a8-0000-000000000000</id>
                    <parentGroupId>aedbee56-e922-3986-0000-000000000000</parentGroupId>
                    <versionedComponentId>b5e9f41f-210d-34a8-8137-a79c5a483851</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
<name>output-grouping</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>
<dependencies>
    <dependentValues>gzip</dependentValues>
    <propertyName>compression-format</propertyName>
</dependencies>
<name>compression-level</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>{
  "type": "object",
  "properties": {
    "Symbol": {
      "type": "string"
    },
    "date": {
      "type": "date"
    },
    "open": {
      "type": "double"
    }
	"high": {
      "type": "double"
    },
	"low": {
      "type": "double"
    },
	"close": {
      "type": "double"
    },
	"volume": {
      "type": "double"
    }
  }
}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-oneline</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>none</value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>c9911a53-1213-303a-0000-000000000000</id>
                    <parentGroupId>aedbee56-e922-3986-0000-000000000000</parentGroupId>
                    <versionedComponentId>c9911a53-1213-303a-a072-d768b89ed98c</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>close</key>
                            <value>
<name>close</name>
                            </value>
                        </entry>
                        <entry>
                            <key>date</key>
                            <value>
<name>date</name>
                            </value>
                        </entry>
                        <entry>
                            <key>high</key>
                            <value>
<name>high</name>
                            </value>
                        </entry>
                        <entry>
                            <key>low</key>
                            <value>
<name>low</name>
                            </value>
                        </entry>
                        <entry>
                            <key>open</key>
                            <value>
<name>open</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Symbol</key>
                            <value>
<name>Symbol</name>
                            </value>
                        </entry>
                        <entry>
                            <key>volume</key>
                            <value>
<name>volume</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonPathReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>close</key>
                            <value>$.close</value>
                        </entry>
                        <entry>
                            <key>date</key>
                            <value>$.date</value>
                        </entry>
                        <entry>
                            <key>high</key>
                            <value>$.high</value>
                        </entry>
                        <entry>
                            <key>low</key>
                            <value>$.low</value>
                        </entry>
                        <entry>
                            <key>open</key>
                            <value>$.open</value>
                        </entry>
                        <entry>
                            <key>Symbol</key>
                            <value>$.Symbol</value>
                        </entry>
                        <entry>
                            <key>volume</key>
                            <value>$.volume</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonPathReader</type>
                </controllerServices>
                <outputPorts>
                    <id>000939b7-e88e-3280-0000-000000000000</id>
                    <parentGroupId>aedbee56-e922-3986-0000-000000000000</parentGroupId>
                    <position>
                        <x>-232.0</x>
                        <y>216.0</y>
                    </position>
                    <versionedComponentId>000939b7-e88e-3280-9699-cf079f8f5e81</versionedComponentId>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>success</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                    <validationErrors>'Port 'success'' is invalid because Port has no outgoing connections</validationErrors>
                </outputPorts>
                <outputPorts>
                    <id>2fed9c7f-41a4-3b9d-0000-000000000000</id>
                    <parentGroupId>aedbee56-e922-3986-0000-000000000000</parentGroupId>
                    <position>
                        <x>416.0</x>
                        <y>-168.0</y>
                    </position>
                    <versionedComponentId>2fed9c7f-41a4-3b9d-b137-6f0e11202d8d</versionedComponentId>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>failure</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                    <validationErrors>'Port 'failure'' is invalid because Port has no outgoing connections</validationErrors>
                </outputPorts>
                <processGroups>
                    <id>b054f7e1-31a1-394a-0000-000000000000</id>
                    <parentGroupId>aedbee56-e922-3986-0000-000000000000</parentGroupId>
                    <position>
                        <x>-256.0</x>
                        <y>-288.0</y>
                    </position>
                    <versionedComponentId>b054f7e1-31a1-394a-8ac1-6db45816bdd2</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3cc239c6-5102-31ca-0000-000000000000</id>
                            <parentGroupId>b054f7e1-31a1-394a-0000-000000000000</parentGroupId>
                            <versionedComponentId>3cc239c6-5102-31ca-b301-2fc90efa72ba</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>b054f7e1-31a1-394a-0000-000000000000</groupId>
<id>8eddd862-70db-3921-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>8eddd862-70db-3921-99d5-9d81eeb69802</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>b054f7e1-31a1-394a-0000-000000000000</groupId>
<id>8f28d5e9-7264-3892-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8f28d5e9-7264-3892-bbfa-c6c464831fa0</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a7f74505-ed5e-3a08-0000-000000000000</id>
                            <parentGroupId>b054f7e1-31a1-394a-0000-000000000000</parentGroupId>
                            <versionedComponentId>a7f74505-ed5e-3a08-bc0f-75a1e87e1322</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>b054f7e1-31a1-394a-0000-000000000000</groupId>
<id>f673a542-7a9e-3521-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>f673a542-7a9e-3521-9498-747b6b7919ee</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>b054f7e1-31a1-394a-0000-000000000000</groupId>
<id>8f28d5e9-7264-3892-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8f28d5e9-7264-3892-bbfa-c6c464831fa0</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d473a921-e16d-3663-0000-000000000000</id>
                            <parentGroupId>b054f7e1-31a1-394a-0000-000000000000</parentGroupId>
                            <versionedComponentId>d473a921-e16d-3663-8ca9-db961086cfc7</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>b054f7e1-31a1-394a-0000-000000000000</groupId>
<id>8f28d5e9-7264-3892-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8f28d5e9-7264-3892-bbfa-c6c464831fa0</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>b054f7e1-31a1-394a-0000-000000000000</groupId>
<id>6f43e141-623d-37bf-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6f43e141-623d-37bf-8e83-8aa3eb77f1a5</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>8eddd862-70db-3921-0000-000000000000</id>
                            <parentGroupId>b054f7e1-31a1-394a-0000-000000000000</parentGroupId>
                            <position>
<x>376.0</x>
<y>264.0</y>
                            </position>
                            <versionedComponentId>8eddd862-70db-3921-99d5-9d81eeb69802</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>failure</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <outputPorts>
                            <id>f673a542-7a9e-3521-0000-000000000000</id>
                            <parentGroupId>b054f7e1-31a1-394a-0000-000000000000</parentGroupId>
                            <position>
<x>-48.0</x>
<y>288.0</y>
                            </position>
                            <versionedComponentId>f673a542-7a9e-3521-9498-747b6b7919ee</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>success</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>6f43e141-623d-37bf-0000-000000000000</id>
                            <parentGroupId>b054f7e1-31a1-394a-0000-000000000000</parentGroupId>
                            <position>
<x>-72.0</x>
<y>-192.0</y>
                            </position>
                            <versionedComponentId>6f43e141-623d-37bf-8e83-8aa3eb77f1a5</versionedComponentId>
                            <bundle>
<artifact>nifi-kafka-2-6-nar</artifact>
<group>org.apache.nifi</group>
<version>1.23.2</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>output-strategy</key>
        <value>
            <name>output-strategy</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <dependencies>
                <dependentValues>USE_VALUE</dependentValues>
                <propertyName>output-strategy</propertyName>
            </dependencies>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <dependencies>
                <dependentValues>USE_VALUE</dependentValues>
                <propertyName>output-strategy</propertyName>
            </dependencies>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>key-format</key>
        <value>
            <dependencies>
                <dependentValues>USE_WRAPPER</dependentValues>
                <propertyName>output-strategy</propertyName>
            </dependencies>
            <name>key-format</name>
        </value>
    </entry>
    <entry>
        <key>key-record-reader</key>
        <value>
            <dependencies>
                <dependentValues>record</dependentValues>
                <propertyName>key-format</propertyName>
            </dependencies>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>key-record-reader</name>
        </value>
    </entry>
    <entry>
        <key>Commit Offsets</key>
        <value>
            <name>Commit Offsets</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <dependencies>
                <dependentValues>true</dependentValues>
                <propertyName>Commit Offsets</propertyName>
            </dependencies>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <dependencies>
                <dependentValues>PLAIN</dependentValues>
                <dependentValues>SCRAM-SHA-512</dependentValues>
                <dependentValues>SCRAM-SHA-256</dependentValues>
                <propertyName>sasl.mechanism</propertyName>
            </dependencies>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <dependencies>
                <dependentValues>PLAIN</dependentValues>
                <dependentValues>SCRAM-SHA-512</dependentValues>
                <dependentValues>SCRAM-SHA-256</dependentValues>
                <propertyName>sasl.mechanism</propertyName>
            </dependencies>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <dependencies>
                <dependentValues>SCRAM-SHA-512</dependentValues>
                <dependentValues>SCRAM-SHA-256</dependentValues>
                <propertyName>sasl.mechanism</propertyName>
            </dependencies>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>aws.profile.name</key>
        <value>
            <dependencies>
                <dependentValues>AWS_MSK_IAM</dependentValues>
                <propertyName>sasl.mechanism</propertyName>
            </dependencies>
            <name>aws.profile.name</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>separate-by-key</key>
        <value>
            <name>separate-by-key</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>kafka:9092</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>stock</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>c9911a53-1213-303a-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>b5e9f41f-210d-34a8-0000-000000000000</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>stockApp</value>
    </entry>
    <entry>
        <key>output-strategy</key>
        <value>USE_VALUE</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>key-format</key>
        <value>byte-array</value>
    </entry>
    <entry>
        <key>key-record-reader</key>
    </entry>
    <entry>
        <key>Commit Offsets</key>
        <value>false</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>GSSAPI</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>aws.profile.name</key>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>separate-by-key</key>
        <value>false</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>earliest</value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>50</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>60 secs</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConsumeKafkaRecord_2_6</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6</type>
                        </processors>
                        <processors>
                            <id>8f28d5e9-7264-3892-0000-000000000000</id>
                            <parentGroupId>b054f7e1-31a1-394a-0000-000000000000</parentGroupId>
                            <position>
<x>-56.0</x>
<y>0.0</y>
                            </position>
                            <versionedComponentId>8f28d5e9-7264-3892-bbfa-c6c464831fa0</versionedComponentId>
                            <bundle>
<artifact>nifi-scripting-nar</artifact>
<group>org.apache.nifi</group>
<version>1.23.2</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Record Reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>Record Reader</name>
        </value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>Record Writer</name>
        </value>
    </entry>
    <entry>
        <key>Script Engine</key>
        <value>
            <name>Script Engine</name>
        </value>
    </entry>
    <entry>
        <key>Script Body</key>
        <value>
            <name>Script Body</name>
        </value>
    </entry>
    <entry>
        <key>Script File</key>
        <value>
            <name>Script File</name>
        </value>
    </entry>
    <entry>
        <key>Module Directory</key>
        <value>
            <name>Module Directory</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Record Reader</key>
        <value>c9911a53-1213-303a-0000-000000000000</value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>b5e9f41f-210d-34a8-0000-000000000000</value>
    </entry>
    <entry>
        <key>Script Engine</key>
        <value>Groovy</value>
    </entry>
    <entry>
        <key>Script Body</key>
        <value>import org.apache.nifi.serialization.record.RecordField;
import org.apache.nifi.serialization.record.RecordFieldType;

def high = record.getValue("high")
def low = record.getValue("low")
def median = (high - low) / 2

record.setValue("median", median)

return record</value>
    </entry>
    <entry>
        <key>Script File</key>
    </entry>
    <entry>
        <key>Module Directory</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ScriptedTransformRecord</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.script.ScriptedTransformRecord</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>SINGLE_BATCH_PER_NODE</flowfileConcurrency>
                    <flowfileOutboundPolicy>BATCH_OUTPUT</flowfileOutboundPolicy>
                    <logFileSuffix></logFileSuffix>
                    <name>gather &amp; transform</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>399e4b50-a210-3f4a-0000-000000000000</id>
                    <parentGroupId>aedbee56-e922-3986-0000-000000000000</parentGroupId>
                    <position>
                        <x>-240.0</x>
                        <y>-16.0</y>
                    </position>
                    <versionedComponentId>399e4b50-a210-3f4a-a836-f101f64545d7</versionedComponentId>
                    <bundle>
                        <artifact>nifi-kafka-2-6-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-transactions</propertyName>
    </dependencies>
    <name>transactional-id-prefix</name>
</value>
                            </entry>
                            <entry>
<key>Failure Strategy</key>
<value>
    <name>Failure Strategy</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>publish-strategy</key>
<value>
    <name>publish-strategy</name>
</value>
                            </entry>
                            <entry>
<key>record-key-writer</key>
<value>
    <dependencies>
        <dependentValues>USE_WRAPPER</dependentValues>
        <propertyName>publish-strategy</propertyName>
    </dependencies>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-key-writer</name>
</value>
                            </entry>
                            <entry>
<key>Record Metadata Strategy</key>
<value>
    <dependencies>
        <dependentValues>USE_WRAPPER</dependentValues>
        <propertyName>publish-strategy</propertyName>
    </dependencies>
    <name>Record Metadata Strategy</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <dependencies>
        <dependentValues>USE_VALUE</dependentValues>
        <propertyName>publish-strategy</propertyName>
    </dependencies>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
    <name>kerberos-user-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <dependencies>
        <dependentValues>PLAIN</dependentValues>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <dependencies>
        <dependentValues>PLAIN</dependentValues>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <dependencies>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>aws.profile.name</key>
<value>
    <dependencies>
        <dependentValues>AWS_MSK_IAM</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>aws.profile.name</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>message-key-field</key>
<value>
    <dependencies>
        <dependentValues>USE_VALUE</dependentValues>
        <propertyName>publish-strategy</propertyName>
    </dependencies>
    <name>message-key-field</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>partition</key>
<value>
    <name>partition</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>kafka:9092</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>stockMedian</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>0b0b1793-cfdc-3d67-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>b5e9f41f-210d-34a8-0000-000000000000</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>transactional-id-prefix</key>
                            </entry>
                            <entry>
<key>Failure Strategy</key>
<value>Route to Failure</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>all</value>
                            </entry>
                            <entry>
<key>publish-strategy</key>
<value>USE_VALUE</value>
                            </entry>
                            <entry>
<key>record-key-writer</key>
                            </entry>
                            <entry>
<key>Record Metadata Strategy</key>
<value>Use Configured Values</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>aws.profile.name</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>message-key-field</key>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>partition</key>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafkaRecord_2_6</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>BATCH_OUTPUT</flowfileOutboundPolicy>
            <logFileSuffix></logFileSuffix>
            <name>Exactly once in kafka in NIFI</name>
            <variables/>
        </processGroups>
        <processors>
            <id>3edb348e-e501-31ca-0000-000000000000</id>
            <parentGroupId>cac2b8af-0740-3504-0000-000000000000</parentGroupId>
            <position>
                <x>560.0</x>
                <y>32.0</y>
            </position>
            <versionedComponentId>3edb348e-e501-31ca-9073-541f0fb6170a</versionedComponentId>
            <bundle>
                <artifact>nifi-stateless-processor-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.2</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Dataflow Specification Strategy</key>
                        <value>
                            <name>Dataflow Specification Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Dataflow File</key>
                        <value>
                            <dependencies>
<dependentValues>Use Local File</dependentValues>
<propertyName>Dataflow Specification Strategy</propertyName>
                            </dependencies>
                            <name>Dataflow File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Registry URL</key>
                        <value>
                            <dependencies>
<dependentValues>Use NiFi Registry</dependentValues>
<propertyName>Dataflow Specification Strategy</propertyName>
                            </dependencies>
                            <name>Registry URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Registry SSL Context Service</key>
                        <value>
                            <dependencies>
<dependentValues>Use NiFi Registry</dependentValues>
<propertyName>Dataflow Specification Strategy</propertyName>
                            </dependencies>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>Registry SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <dependencies>
<dependentValues>Use NiFi Registry</dependentValues>
<propertyName>Dataflow Specification Strategy</propertyName>
                            </dependencies>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Registry Bucket</key>
                        <value>
                            <dependencies>
<dependentValues>Use NiFi Registry</dependentValues>
<propertyName>Dataflow Specification Strategy</propertyName>
                            </dependencies>
                            <name>Registry Bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Flow Name</key>
                        <value>
                            <dependencies>
<dependentValues>Use NiFi Registry</dependentValues>
<propertyName>Dataflow Specification Strategy</propertyName>
                            </dependencies>
                            <name>Flow Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Flow Version</key>
                        <value>
                            <dependencies>
<dependentValues>Use NiFi Registry</dependentValues>
<propertyName>Dataflow Specification Strategy</propertyName>
                            </dependencies>
                            <name>Flow Version</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Port</key>
                        <value>
                            <name>Input Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Failure Ports</key>
                        <value>
                            <name>Failure Ports</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Storage Strategy</key>
                        <value>
                            <name>Content Storage Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Input FlowFile Size</key>
                        <value>
                            <dependencies>
<dependentValues>Store Content on Heap</dependentValues>
<propertyName>Content Storage Strategy</propertyName>
                            </dependencies>
                            <name>Max Input FlowFile Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Dataflow Timeout</key>
                        <value>
                            <name>Dataflow Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>NAR Directory</key>
                        <value>
                            <name>NAR Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Work Directory</key>
                        <value>
                            <name>Work Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Ingest FlowFiles</key>
                        <value>
                            <name>Max Ingest FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Ingest Data Size</key>
                        <value>
                            <name>Max Ingest Data Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateless SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>Stateless SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Krb5 Conf File</key>
                        <value>
                            <name>Krb5 Conf File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Status Task Interval</key>
                        <value>
                            <name>Status Task Interval</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Dataflow Specification Strategy</key>
                        <value>Use NiFi Registry</value>
                    </entry>
                    <entry>
                        <key>Dataflow File</key>
                        <value>/opt/nifi/nifi-current/data/statelessFile</value>
                    </entry>
                    <entry>
                        <key>Registry URL</key>
                        <value>http://host.docker.internal:18080</value>
                    </entry>
                    <entry>
                        <key>Registry SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>Registry Bucket</key>
                        <value>Exactly Once Demo Flow</value>
                    </entry>
                    <entry>
                        <key>Flow Name</key>
                        <value>ExactlyOnceSemanticFlow</value>
                    </entry>
                    <entry>
                        <key>Flow Version</key>
                    </entry>
                    <entry>
                        <key>Input Port</key>
                    </entry>
                    <entry>
                        <key>Failure Ports</key>
                        <value>failure</value>
                    </entry>
                    <entry>
                        <key>Content Storage Strategy</key>
                        <value>Store Content on Heap</value>
                    </entry>
                    <entry>
                        <key>Max Input FlowFile Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Dataflow Timeout</key>
                        <value>60 sec</value>
                    </entry>
                    <entry>
                        <key>NAR Directory</key>
                        <value>./lib</value>
                    </entry>
                    <entry>
                        <key>Work Directory</key>
                        <value>./work</value>
                    </entry>
                    <entry>
                        <key>Max Ingest FlowFiles</key>
                    </entry>
                    <entry>
                        <key>Max Ingest Data Size</key>
                    </entry>
                    <entry>
                        <key>Stateless SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Krb5 Conf File</key>
                    </entry>
                    <entry>
                        <key>Status Task Interval</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExecuteStateless</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>output</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>timeout</name>
                <retry>false</retry>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.stateless.ExecuteStateless</type>
        </processors>
    </snippet>
    <timestamp>11/22/2023 21:30:14 UTC</timestamp>
</template>
